<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ site_title }}</title>
  <meta name="description" content="{{ site_description }}">
  <meta name="robots" content="index,follow">

  <meta name="theme-color" content="{{ site_color }}">
  <meta name="msapplication-config" content="browserconfig.xml">
  <link rel="manifest" href="manifest.json">

  <meta name="apple-mobile-web-app-title" content="{{ site_title }}">
  <meta name="application-name" content="{{ site_title }}">

  <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="msapplication-TileColor" content="{{ site_color }}">
  <meta name="msapplication-TileImage" content="mstile-144x144.png">

  <link rel="stylesheet" type="text/css" href="css/site.css">
  {% block head %}
  {% endblock %}
</head>

<body class="{{ body_class }}">

  {% block body %}
  {% endblock %}

  {% include "../partials/scripts.njk" %}
  {% block scripts %}
  {% endblock %}
  <script src="js/site.js"></script>
</body>

</html>