<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ page_title }}</title>
  <link rel="stylesheet" type="text/css" href="css/site.css">
  {% block head %}
  {% endblock %}
</head>

<body class="{{ body_class }}">

  {% block main %}

  {% endblock %}

  {% include "../partials/scripts.njk" %}
  <script src="js/site.js"></script>
</body>

</html>