{% extends "templates/blank.njk" %}

{% block body %}
  <div class="site-wrapper">

  {% include "../partials/header.njk" %}

  <main role="main" class="site-main {{ main_class }}">
  {% block main %}

  {% endblock %}
  </main>

  </div> <!-- End Site Wrapper -->

  {% include "../partials/footer.njk" %}
{% endblock %}