$easing: cubic-bezier(0.000, 0.015, 0.000, 1.005);
$easing-in: cubic-bezier(0.735, 0.005, 1.000, 0.395);
$easing-in-out: cubic-bezier(0.685, 0.005, 0.580, 1.000);
@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translate3d( -2rem, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d( 0, 0, 0);
  }
}

@keyframes animateOut {
  0% {
    opacity: 1;
    transform: translate3d( 0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d( 2rem, 0, 0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideUpIn {
  0% {
    opacity: 0;
    transform: translate3d( 0, 2rem, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d( 0, 0, 0);
  }
}

@keyframes slideDownOut {
  0% {
    opacity: 1;
    transform: translate3d( 0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d( 0, 2rem, 0);
  }
}

@keyframes slideLeftOut {
  0% {
    opacity: 1;
    transform: translate3d( 0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d( -2rem, 0, 0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translate3d( 2rem, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d( 0, 0, 0);
  }
}

@keyframes pageNavItemExit {
  0% {
    transform: translate3d( 0, 0, 0);
  }
  100% {
    transform: translate3d( -2rem, 0, 0);
  }
}

@keyframes pageNavFadeOut {
  0% {
    opacity: 1;
    transform: translate3d( 0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d( 0, 2rem, 0);
  }
}

@keyframes pageNavLinkActive {
  0% {
    opacity: 0;
    transform: translate3d(-150%, 0, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes pageNavLinkLoading {
  0% {
    opacity: 1;
    color: $color-active;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    color: $color-active;
  }
}

@keyframes pageNavLinkLoadingIndex {
  0% {
    opacity: 1;
    transform: translate3d(1.5rem, 0, 0);
    color: $color-active;
  }
  100% {
    opacity: 0;
    transform: translate3d(6rem, 0, 0);
    color: $color-primary;
  }
}

@keyframes mainNavLinkBeforeLoading {
  0% {
    transform: scale3d(0, 1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes mainNavLinkLoading {
  0% {
    opacity: initial;
    color: $color-active;
  }
  100% {
    opacity: 1;
    color: $color-primary;
  }
}

@keyframes mainNavLinkWasActive {
  0% {
    opacity: 1;
    color: $color-primary;
  }
  100% {
    opacity: 0.7;
    color: $color-primary;
  }
}

@keyframes mainNavLinkBeforeWasActive {
  0% {
    transform-origin: 100% 50%;
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
  }
}