*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html,
body {
  height: 100%;
  font-family: $font-primary, sans-serif;
  font-weight: 400;
  font-size: 115%;
  line-height: 1.5;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: $color-light;
  color: $color-dark;
}

a,
a:visited {
  color: $color-link;
  text-decoration-color: $color-link-underline;
  transition: all $time $easing;
  &:hover {
    color: $color-loading;
    text-decoration-color: $color-loading;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
  font-weight: 700;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
}

p {
  opacity: 0.9;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
}

li {
  padding: 0;
}