*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: $color-dark;
  color: $color-light;
  font-family: $font-primary, sans-serif;
  font-weight: $font-primary--weight;
  line-height: 1.5;
}

::selection {
  background: $color-accent;
}

::-moz-selection {
  background: $color-accent;
}

a {
  color: $color-link;
  text-decoration-color: transparent;
  transition: all $time $easing;
  transform: translateZ(0);
  will-change: transform;
  &:hover {
    color: $color-link;
    text-decoration-color: $color-grey;
  }
  &:active {
    color: $color-active;
    text-decoration-color: $color-active;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
  font-weight: $font-primary--bold;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
}

p {
  opacity: 0.9;
  font-size: 1rem;
  word-spacing: -0.12em;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
}

li {
  padding: 0;
}