@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');
$color-dark: rgb(19,
19,
20);
$color-green: #AAAA67;
$color-gold: rgb(190,
172,
113);
$color-light: #EBECE4;
$color-red: #be3636;
$color-grey: #78736F;
$color-link: #039BE5;
$color-link-underline: rgba($color-link,
0.3);
$color-loading: rgb(104,
205,
255);
$color-primary: $color-gold;
$border-radius: 0.2rem;
$time: 0.25s;
$time-fast: 0.125s;
$time-long: 0.4s;