.site {
  &__header {
    padding: 0.5rem 0;
    margin: 0 0 1rem 0;
    color: $color-light;
    background-color: $color-green;
  }
  &__wrapper {
    flex: 1 0 auto;
  }
  &__footer {
    padding-top: 0.5rem;
    flex-shrink: 0;
  }
  &__title {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: $color-light;
    margin: 0;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.container {
  padding: 0 1rem 0 6rem;
  margin: 0 auto;
  max-width: 40rem;
  position: relative;
}

#main {
  position: relative;
}

.page-content {
  position: relative;
  transition: all 250ms $easing;
  animation-name: fadeIn;
  animation-duration: $time;
  animation-timing-function: $easing;
  .is-exiting & {
    transform: translate3d(3rem, 0, 0);
    opacity: 0;
  }
}

.info {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80%;
  &__item {
    flex: 1 0 33%;
    padding: 0 1rem 0.5rem 0;
    &--wide {
      flex-basis: 100%;
    }
  }
  &__label {
    font-weight: 700;
    line-height: 1;
    font-size: 0.9rem;
    text-transform: uppercase;
    opacity: 1;
    display: block;
    color: $color-green;
    white-space: nowrap;
  }
  &__data {
    font-weight: 600;
    display: block;
  }
}

.button-list {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  box-pack: center;
  align-items: flex-start;
  box-orient: vertical;
  box-direction: normal;
  position: relative;
  &__item {
    position: relative;
    flex: 0 1 auto;
    width: 100%;
    padding: 0.25rem 1rem;
    background-color: $color-green;
    margin-bottom: 2px;
    transition: all 0.1s $easing;
    &:first-child {
      border-radius: $border-radius $border-radius 0 0;
    }
    &:last-child {
      border-radius: 0 0 $border-radius $border-radius;
    }
    &:hover {
      opacity: 0.9;
    }
  }
  &__link,
  a.button-list__link {
    text-decoration: none;
    color: $color-light;
    font-weight: 600;
  }
}

.sentence-list {
  &__item {
    display: inline-block;
    &:not(:last-child) {
      &:after {
        content: ',';
        margin-right: 0.25em;
      }
    }
    &:last-child {
      &:before {
        content: 'and\0020';
      }
    }
  }
  &__link {}
}

.header-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__title {
    color: $color-light;
    line-height: 1;
    white-space: nowrap;
  }
  &__nav {
    padding-left: 4rem;
    flex: 0 0 auto;
  }
}

.main-nav {
  position: relative;
  transition: all $time $easing;
  &.home {
    .main-nav__item {
      animation-name: slideLeft;
      animation-iteration-count: 1;
      animation-timing-function: $easing;
      animation-fill-mode: forward;
      transition: all $time $easing;
      @for $i from 0 through 12 {
        &:nth-child(#{$i + 1}) {
          animation-delay: $i * 0.04s;
          animation-duration: 0.35s - ($i * 0.015s);
        }
      }
    }
  }
  &__item {
    position: relative;
    display: inline-block;
    padding: 0 2rem 0 0;
  }
  &__link,
  a.main-nav__link {
    position: relative;
    display: block;
    line-height: 1;
    transition: all $time $easing;
    color: $color-light;
    font-size: .85rem;
    text-decoration: none;
    opacity: 0.8;
    &:after {
      display: block;
      content: attr(title);
      font-weight: bold;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
    &.active {
      font-weight: bold;
      opacity: 1;
    }
  }
}

.page-header {
  &__title {
    line-height: 1;
  }
}

.page-nav {
  position: absolute;
  top: 0;
  padding-right: 2rem;
  transition: all $time $easing;
  &--home,
  &--sign-index,
  &--modality-index {
    .page-nav__item {
      animation-name: slideUp;
      animation-iteration-count: 1;
      animation-timing-function: $easing;
      animation-fill-mode: both;
      transition: all $time $easing;
      a {
        transform: translate3d(1.5rem, 0, 0);
        .is-exiting & {
          transform: translate3d(-100%, 0, 0);
        }
      }
      @for $i from 0 through 12 {
        &:nth-child(#{$i + 1}) {
          animation-delay: $i * 0.04s;
          animation-duration: 0.35s - ($i * 0.015s);
        }
      }
    }
  }
  &__item {
    position: relative;
    display: block;
    margin-left: -1.5rem;
    a {
      position: relative;
      display: inline-block;
      line-height: 1;
      transition: all $time $easing;
      transform: translate3d(-100%, 0, 0);
      &.loading {
        pointer-events: none;
        animation-name: loadingLink;
        animation-duration: $time * .75;
        animation-timing-function: $easing;
        animation-fill-mode: forwards;
      }
      &.active {
        pointer-events: none;
        text-decoration-color: transparent;
        animation-name: goActiveLink;
        animation-duration: $time;
        animation-timing-function: $easing;
        animation-fill-mode: forwards;
      }
      &:after {
        display: block;
        content: attr(title);
        font-weight: bold;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
    }
  }
}