//$enable-gradients: true;
@import 'theme/theme-pre';
@import 'bootstrap/bootstrap';
//@import 'theme/theme-post';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.site-wrapper {
  flex: 1 0 auto;
}

.site-footer {
  flex-shrink: 0;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.jumbotron {
  border-radius: 0;
}
