{% from "macros/main-nav.html" import mainNav %}
{% from "macros/page-nav.html" import pageNav %}
{% from "macros/sign-list.html" import signList %}
{% from "macros/element-list.html" import elementList %}
{% from "macros/sentence-list.html" import sentenceList %}
{% from "macros/slug.html" import slug %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="robots" content="index,follow">

  <meta name="theme-color" content="{{ color }}">

  <link rel="stylesheet" type="text/css" href="/css/site.css">
  {% block head %}
  {% endblock %}
</head>

<body class="{{ body_class }}" data-location="{{ location }}">

  {% block body %}
  {% endblock %}

  <script src="/js/site.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['BioRhyme:700', 'Titillium Web:400,600,700']
      }
    });
  </script>
  {% block scripts %}
  {% endblock %}
  {% if google_analytics %}
    <script>
      window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
      ga('create', '{{ google_analytics }}', 'auto'); ga('send', 'pageview')
    </script>
    <script src="//www.google-analytics.com/analytics.js" async defer></script>
  {% endif %}
</body>

</html>