{% set location = "elements" %}
{% extends "main.html" %}

{% block main %}
  <div class="container site__content">
    {{ pageNav(page,list,id) }}
    {% if details %}
      <div class="page-header animate animate--first">
        <h1 class="page-header__title">{{ details.name }}</h1>
      </div>
      <div class="animate animate--second">
        <p>{{ details.definition }}</p>
      </div>
      <div class="info animate animate--third animate--cascade-children">
        <div class="info__item info__item--wide">
          <span class="info__label">Traits</span>
          <span class="info__data">{{ sentenceList(details.traits) }}</span>
        </div>
        <div class="info__item info__item--wide">
          <span class="info__label">{{ details.name }} Signs</span>
          <span class="info__data">{{ sentenceList(details.signs,'signs') }}</span>
        </div>
      </div>
    {% else %}
      <div class="page-header page-header--index animate animate--first">
        <p class="page-header__hero-text"><strong>Empedocles — fifth-century BC Greek philosopher — identified Fire, Earth, Air, and Water as the basic building blocks of the universe.</strong> Classification according to the elements has gained such importance that some astrologers start their interpretation of a natal chart by studying the balance of the elements.</p>
      </div>
    {% endif %}
  </div>
{% endblock %}