{% set location = "element" %}
{% extends "main.html" %}

{% block main %}
  <div class="container pad-top">
    {% if element %}
      {{ pageNav(id,elements,'element','detail') }}
      <ul class="breadcrumb">
        <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Home</a></li>
        <li class="breadcrumb__item"><a href="/element/" class="breadcrumb__link">Elements</a></li>
        <li class="breadcrumb__item"><a href="#" class="breadcrumb__link active">{{ element.name }}</a></li>
      </ul>
      <div class="page-header animate animate--first">
        <h1 class="page-header__title">{{ element.name }}</h1>
      </div>
      <div class="animate animate--second">
        <p>{{ element.definition }}</p>
      </div>
      <div class="info animate animate--third animate--cascade-children">
        <div class="info__item info__item--wide">
          <span class="info__label">Traits</span>
          <span class="info__data">{{ sentenceList(element.traits) }}</span>
        </div>
        <div class="info__item info__item--wide">
          <span class="info__label">{{ element.name }} Signs</span>
          <span class="info__data">{{ signList(element.signs) }}</span>
        </div>
      </div>
    {% else %}
      {{ pageNav(id,elements,'element','index') }}
    {% endif %}
  </div>
{% endblock %}