{% set location = "home" %}
{% extends "main.html" %}

{% block main %}
  <div class="container pad-top">
    <ul class="page-nav page-nav--home page-nav--index">
      <li class="page-nav__item">
        <a class="page-nav__link" href="/signs" data-target="signs">Signs</a>
        <p class="page-nav__description"></p>
      </li>
      <li class="page-nav__item">
        <a class="page-nav__link" href="/elements" data-target="elements">Elements</a>
        <p class="page-nav__description"></p>
      </li>
      <li class="page-nav__item">
        <a class="page-nav__link" href="/modalities" data-target="modalities">Modalities</a>
        <p class="page-nav__description"></p>
      </li>
    </ul>
  </div>
{% endblock %}