{% set location = "home" %}
{% extends "main.html" %}

{% block main %}
  <div class="container site__content">
    <ul class="page-nav page-nav--home page-nav--index">
      {% for page in pages %}
        <li class="page-nav__item">
          <a
          class="page-nav__link"
          href="/{{ page.id }}"
          title="{{ page.name }}"
          data-target="{{ page.id }}">
            {{ page.name }}
          </a>
          <p class="page-nav__description">{{ page.description }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}