{% set location = "home" %}
{% extends "main.html" %}

{% block main %}
  <div class="container" data-depth="0">
    <div class="page-content">
      <ul class="page-nav page-nav--home">
        <li class="page-nav__item"><a class="page-nav__link" href="/sign" data-target="sign">View Signs</a></li>
        <li class="page-nav__item"><a class="page-nav__link" href="/modality" data-target="modality">View Modalities</a></li>
        <li class="page-nav__item"><a class="page-nav__link" href="/element" data-target="element">View Elements</a></li>
      </ul>
    </div>
  </div>
{% endblock %}