{% extends "main.html" %}

{% block main %}
  <div class="container site__content">
    {{ pageNav(page,list,id) }}
    {% if details %}
      <div class="page-header animate animate--first">
        <h1 class="page-header__title"><span class="gold-text" data-text="{{ details.name }}">{{ details.name }}</span></h1>
      </div>
      <div class="animate animate--second">
        <p>{{ details.description }}</p>
      </div>
      <div class="info animate animate--third animate--cascade-children">
        <div class="info__item info__item--wide">
          <span class="info__label">Traits</span>
          <span class="info__data">{{ sentenceList(details.traits) }}</span>
        </div>
        <div class="info__item info__item--wide">
          <span class="info__label">{{ details.name }} Signs</span>
          <span class="info__data">{{ sentenceList(details.signs,'signs') }}</span>
        </div>
      </div>
    {% else %}
      <div class="page-header page-header--index animate animate--first">
        <p class="page-header__hero-text">{{ page.content | safe }}</p>
      </div>
    {% endif %}
  </div>
{% endblock %}