{% extends "main.html" %}

{% block main %}
  <div class="container" data-depth="1">
    {% if modality %}
      {{ navList(id,modalities,'modality','detail') }}
    {% else %}
      {{ navList(id,modalities,'modality','index') }}
    {% endif %}
    <div class="page-content">
      {% if modality %}
        <div class="page-header">
          <h1 class="page-header__title">{{ modality.name }}</h1>
        </div>
        <p>{{ modality.definition }}.</p>
        <div class="info">
          <div class="info__item info__item--wide">
            <span class="info__label">Traits</span>
            <span class="info__data">{{ sentenceList(modality.traits) }}</span>
          </div>
          <div class="info__item info__item--wide">
            <span class="info__label">{{ modality.name }} Signs</span>
            <span class="info__data">{{ signList(modality.signs) }}</span>
          </div>
        </div>        
      {% endif %}
    </div>
  </div>
{% endblock %}