{% set location = "polarity" %}
{% extends "main.html" %}

{% block main %}
  <div class="container pad-top">
    {% if polarity %}
      {{ pageNav(id,polarities,'polarity','detail') }}
      <ul class="breadcrumb">
        <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Home</a></li>
        <li class="breadcrumb__item"><a href="/polarity/" class="breadcrumb__link">Polarities</a></li>
        <li class="breadcrumb__item"><a href="#" class="breadcrumb__link active">{{ polarity.name }}</a></li>
      </ul>
      <div class="page-header animate animate--first">
        <h1 class="page-header__title">{{ polarity.name }}</h1>
      </div>
      <div class="animate animate--second">
        <p>{{ polarity.definition }}.</p>
      </div>
      <div class="info animate animate--third animate--cascade-children">
        <div class="info__item info__item--wide">
          <span class="info__label">Elements</span>
          <span class="info__data">{{ elementList(polarity.elements) }}</span>
        </div>
        <div class="info__item info__item--wide">
          <span class="info__label">{{ polarity.name }} Signs</span>
          <span class="info__data">{{ signList(polarity.signs) }}</span>
        </div>
      </div>
    {% else %}
      {{ pageNav(id,polarities,'polarity','index') }}
    {% endif %}
  </div>
{% endblock %}