{% set location = "signs" %}
{% extends "main.html" %}

{% block main %}
  <div class="container pad-top">
    {{ pageNav(page,list,id) }}
    {% if details %}
      <div class="page-header animate animate--first">
        <h1 class="page-header__title">{{ details.name }}</h1>
      </div>
      <div class="animate animate--second">
        <p><span class="info__label">Daily Horoscope<span class="info__meta">{{ details.horoscopeDate }}</span></span> {{ details.horoscope }}</p>
      </div>
      <div class="info animate animate--third animate--cascade-children">
        <div class="info__item">
          <span class="info__label">Symbol</span>
          <span class="info__data">{{ details.symbol }}</span>
        </div>
        <div class="info__item">
          <span class="info__label">Celestial Body</span>
          <span class="info__data">{{ details.celestialBody }}</span>
        </div>
        <div class="info__item">
          <span class="info__label">Element</span>
          <span class="info__data"><a href="/elements/{{ slug(details.element) }}" data-target="elements">{{ details.element }}</a></span>
        </div>
        <div class="info__item">
          <span class="info__label">Polarity</span>
          <span class="info__data"><a href="/polarities/{{ slug(details.polarity) }}" data-target="polarities">{{ details.polarity }}</a></span>
        </div>
        <div class="info__item">
          <span class="info__label">Modality</span>
          <span class="info__data"><a href="/modalities/{{ slug(details.modality) }}" data-target="modalities">{{ details.modality }}</a></span>
        </div>
        <div class="info__item">
          <span class="info__label">Period</span>
          <span class="info__data">{{ details.startDate }} - {{ details.endDate }}</span>
        </div>
        <div class="info__item">
          <span class="info__label">Celestial Longitude</span>
          <span class="info__data">{{ details.celestialLongitude }}</span>
        </div>
        <div class="info__item">
          <span class="info__label">Celestial Body</span>
          <span class="info__data"><a href="/celestial-bodies/{{ slug(details.celestialBody) }}" data-target="celestial-bodies">{{ details.celestialBody }}</a></span>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}