{% set body_class = "blog" %}
{% extends "templates/main.njk" %}

{% block main %}
  <div class="bg-dark text-light pb-2">
    <div class="container">
      <h1 class="display-3">Blog</h1>
    </div>
  </div>
  <div class="container pt-3">
  
  </div>
{% endblock %}