{% set body_class = "services" %}
{% extends "templates/main.njk" %}
{% block main %}
<div class="bg-dark text-light pb-2">
  <div class="container">
    <h1 class="display-3">Services</h1>
  </div>
</div>
<div class="container pt-4">
  <div class="row">
    <div class="col">
      <div class="card box-shadow">
        <div class="card-body bg-primary text-white">
          <div class="row">
            <div class="col text-center">
              <img class="svg-icon" inline src="icons/olympics/archery.svg" />
            </div>
            <div class="col">
              <h2 class="card-title mb-1">238</h2>
              <p class="mb-0">Users Online</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card box-shadow">
        <div class="card-body bg-success text-white">
          <div class="row">
            <div class="col text-center">
              <i class="fa fa-envelope fa-4x" aria-hidden="true"></i>
            </div>
            <div class="col">
              <h2 class="card-title mb-1">21</h2>
              <p class="mb-0">Messages</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card box-shadow">
        <div class="card-body bg-dark text-white">
          <div class="row">
            <div class="col text-center">
              <i class="fa fa-rocket fa-4x" aria-hidden="true"></i>
            </div>
            <div class="col">
              <h2 class="card-title mb-1">5</h2>
              <p class="mb-0">Metrics</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card box-shadow">
        <div class="card-body bg-danger text-white">
          <div class="row">
            <div class="col text-center">
              <i class="fa fa-exclamation-triangle fa-4x" aria-hidden="true"></i>
            </div>
            <div class="col">
              <h2 class="card-title mb-1">5</h2>
              <p class="mb-0">Errors</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container pt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-2">
          <i class="fa fa-check fa-2x mt-4 text-primary" aria-hidden="true"></i>
        </div>
        <div class="col-10">
          <h3>A Catchy Title</h3>
          <p class="mb-0">Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-2">
          <i class="fa fa-lock fa-2x mt-4 text-primary" aria-hidden="true"></i>
        </div>
        <div class="col-10">
          <h3>A Catchy Title</h3>
          <p class="mb-0">Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-2">
          <i class="fa fa-users fa-2x mt-4 text-primary" aria-hidden="true"></i>
        </div>
        <div class="col-10">
          <h3>A Catchy Title</h3>
          <p class="mb-0">Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-5">
  <div class="card-group box-shadow">
    <div class="card">
      <img class="card-img-top" src="img/unsplash-600x350-6.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Design</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted"><a href="#">Learn More 
          &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a></small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="img/unsplash-600x350-7.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Development</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted"><a href="#">Learn More 
          &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a></small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="img/unsplash-600x350-8.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Hosting</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted"><a href="#">Learn More 
          &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a></small></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}