{% set body_class = "sign-up bg-dark" %}
{% extends "templates/empty.njk" %}

{% block main %}
<main class="vertical-center">
  <div class="container">
    <div class="row justify-content-md-center">
      <form class="form-signin col-md-10 col-lg-8 col-xl-6">
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link" href="login.html">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="sign-up.html">Sign Up</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
           <div class="text-center mb-4">
              <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
              <p>This is a simple sign up page design using stock bootstrap classes.</p>
            </div>

            <div class="form-row">
              <div class="col">
                <input id="inputFirstName" type="text" class="form-control" placeholder="First name" required autofocus>
                <label for="inputFirstName">First Name</label>
              </div>
              <div class="col">
                  <input id="inputLastName" type="text" class="form-control" placeholder="Last name" required autofocus>
                  <label for="inputLastName">Last Name</label>
              </div>
            </div>

            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
              <label for="inputEmail">Email address</label>
            </div>

            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
              <label for="inputPassword">Password</label>
            </div>

            <div class="form-label-group mb-3">
              <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required>
              <label for="inputConfirmPassword">Confirm Password</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
          </div>
        </div>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Go Home</a>
          </li>
        </ul>
      </form>
    </div>
  </div>
</main>
{% endblock %}