<header class="site-header">

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">{{ site_title }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link nav-link--home" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link--about" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link--blog" href="blog.html">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link--pricing" href="pricing.html">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link--services" href="services.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link--contact" href="contact.html">Contact</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a href="login.html" class="btn btn-link my-2 my-sm-0 ml-2">Login</a>
          <a href="sign-up.html" class="btn btn-primary my-2 my-sm-0 ml-2">Sign Up</a>
        </form>
      </div>
    </div>
  </nav>

</header>