{% macro mainNav(pages,page,navClass) %}
  <ul class="main-nav {{ navClass }} {% if (page == 'Home') %}home{% endif %}">
    {% for option in pages %}
      <li class="main-nav__item {% if (option.name == page) %}active{% endif %}">
        <a class="main-nav__link {% if (option.name == page) %}active{% endif %}"
          href="/{% if (option.name != 'Home') %}{{ option.id }}{% endif %}" title="{{ option.name }}"
          data-target="{{ option.id }}{% if (option.name == 'Home') %}home{% endif %}">
          {{ option.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}