{% macro mainNav(pages,page,navClass) %}
  <ul class="main-nav {{ navClass }} {% if (page == 'home') %}home{% endif %}">
    {% for navPage, pageData in pages %}
      <li class="main-nav__item {% if (navPage == page) %}active{% endif %}">
        <a class="main-nav__link {% if (navPage == page) %}active{% endif %}"
          href="/{{ pageData.slug }}" title="{{ pageData['nav-title'] }}"
          data-target="{{ pageData.slug }}{% if (navPage == 'home') %}home{% endif %}">
          {{ pageData["nav-title"] }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}