{% from "./slug.html" import slug %}
{% macro pageNav(page,list,id) %}
  <ul class="page-nav page-nav--{% if id %}details{% else %}index{% endif %} page-nav--{{ slug(page) }}">
    {% for item in list %}
      <li class="page-nav__item {% if (item.id == id) %}active{% endif %}">
        <a
        class="page-nav__link {% if (item.id == id) %}active{% endif %}"
        href="/{{ slug(page) }}/{{ slug(item.name) }}"
        title="{{ item.name }}"
        data-target="{{ slug(page) }}">
          {{ item.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}