{% from "./slug.html" import slug %}
{% macro pageNav(page,list,id) %}
  <ul class="page-nav page-nav--{% if id %}details{% else %}index{% endif %} page-nav--{{ slug(page) }}">
    {% for item in list %}
      <li class="page-nav__item {% if (item.id == id) %}active{% endif %}">
        <a
        class="page-nav__link {% if (item.id == id) %}active{% endif %}"
        href="/{{ slug(page) }}/{{ item.id }}"
        title="{{ item.name }}"
        data-section="{{ slug(page) }}">
          {{ item.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
  {% if id %}
    <ul class="breadcrumb">
      <li class="breadcrumb__item"><a href="/" data-section="home" class="breadcrumb__link">Home</a></li>
      <li class="breadcrumb__item"><a href="/{{ slug(page) }}/" data-section="slug(page)" class="breadcrumb__link">{{ page }}</a></li>
    </ul>
  {% endif %}
{% endmacro %}